html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
}

div, a {
	box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

#content{
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

#button {
	cursor: pointer;
}

/* STYLES ONE */

.body-one {
	background-color: cornflowerblue;
}

.button-one {
	padding: 20px 40px;
	background-color: red;
	text-align: center;
	color: white;
	border-radius: 8px;
	transition: transform .5s;
	transition: background-color .5s;
}

.button-one:hover {
	background-color: orange;
	transform: rotate(-6deg);
}

/* STYLES TWO */

.body-two {
	background-color: white;
}

.button-two{
	background-color:  white;
	border: 2px solid blue;
	padding: 15px 100px;
	border-radius: 100px;
	transform: translate(10vw, -10vh);
}

