html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
}

div, a {
	box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

#content{
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

#button {
	cursor: pointer;
}

.body-one {
	background-color: cornflowerblue;
}

.button-one {
	padding: 20px;
	background-color: red;
	text-align: center;
	color: white;
	border-radius: 8px;
}

.button-one:hover {
	background-color: green;
}

.body-two {
	background-color: pink;
}

.button-two{
	background-color: black;
}
